/* 마지막 수정 날짜 : 25.12.09 */
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

:root{
    --big-txt-size: 40px;
    --point-color:#3692FF;
    --font-color:#374151;
}

img{
    display: block;
    object-fit: contain;
    width: 100%;
}
button{
    border:none;
    background-color:transparent;
    cursor:pointer;
}
a{
    text-decoration:none;
    text-align:center;
    cursor:pointer;
}
a.btn,
.user-page .page-wrap form> input[type='button']{
    background-color:var(--point-color);
    transition:0.3s;
}
a.btn:hover,
.user-page .page-wrap form> input[type='button']:hover{
    background-color:#1967D6
}

a.btn:active{
    background-color:#1251AA;
}
a.btn.deact{
    background-color:#9CA3AF;
}
ul,ol,li{
    list-style:none;
}
header{
    position:sticky;
    top:0;
    left:0;
    right:0;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
header .header-wrap{
    max-width: 1520px;
    padding: 9px 40px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

header .header-wrap h1{
    height: 51px;
}

header .header-wrap h1 img{
    height:100%;
}
header .header-wrap .btn-login{
    padding: 12px 42px;
    border-radius: 8px;
    font-size: 16px;
    font-weight:600;
    color:#fff;
    display: block;
}

/* main */
.con-wrap,
.footer-wrap{
    width: 100%;
    max-width: 1200px;
    padding: 0 40px;
    margin: 0 auto;
}
.hero,
.bottom-banner{
    background-color:#CFE5FF;
}
.hero .con-wrap,
.bottom-banner .con-wrap{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.big-txt,
.title {
    font-size: var(--big-txt-size);
    font-weight: 700;
    color: #374151;
    line-height: 140%;
}

.hero {
    padding-top: 200px;
    overflow: hidden;
}

.hero .con-wrap .txt-wrap{
    display:flex;
    flex-direction:column;
    gap: 32px;
    flex-basis: 357px;
    flex-shrink: 0;
}
.hero .con-wrap .txt-wrap .btn-viewmore{
    border-radius: 9999px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 13px 0;
    max-width: 357px;
    margin: 0 auto;
    width: 100%;
}

.hero .con-wrap img{
    flex-shrink: 1;
}

section{
	background-color:#fff;
}
section > div{
    max-width: 998px;
    margin: 128px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    background: #FCFCFC;
	border-radius:12px;
}


section > div .img-wrap{flex-shrink: 2;}
section > div .txt-wrap{
    flex-shrink: 0;
}
section > div .txt-wrap p.cate{
    color: var(--point-color);
    font-family: 'Abhaya Libre';
    font-weight :800;
    font-size: 18px;
    margin-bottom: 12px;
}
section > div .txt-wrap p.title{
    margin-bottom: 16px;
}
section > div .txt-wrap p.descripsion{
    color: var(--font-color);
    font-size: 20px;
    font-weight: 500;
}

section > div:nth-child(2){
    flex-direction: row-reverse;
}
section > div:nth-child(2) .txt-wrap{
    text-align:right;
}
.bottom-banner .con-wrap{
    padding-top: 143px;
}
.bottom-banner .con-wrap .txt-wrap{
    margin-top: 112px;
    min-width: 320px;
    color:#374151;
}


footer {
    background: #111827;
    height: 160px;
}
.footer-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
}

.footer-wrap p.copy{
    color: #9CA3AF;
    font-size:  16px;
    font-weight:  400;
}

.footer-wrap ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.footer-wrap ul.foot-menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.footer-wrap ul.foot-menu li a{
    display: block;
    color: #fff;
    font-size:  16px;
    font-weight: 400;
}

/* 로그인/회원가입 폼 */

.login-page,.signin-page{
    display: flex;
    justify-content: center;
    margin: 90px 0;
}

.user-page .page-wrap{
    max-width: 688px;
    display:flex;
    flex-direction: column;
    gap: 24px;
    width:100%;
    padding: 0 24px;
}

.user-page .page-wrap .logo img{
    height: 132px;
}
.user-page .page-wrap form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width:100%;
}

.user-page .page-wrap form> div{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.user-page .page-wrap form> div label{
    font-size: 18px;
    font-weight: 700;
    color:#1f1827;
}
.user-page .page-wrap form> div input[type='email'],
.user-page .page-wrap form> div input[type='password']{
    border:none;
    background-color:#F3F4F6;
    border-radius: 12px;
    height:56px;
    padding: 12px 24px;
    font-size: 16px;
    color:#1f2937;
    width: 100%;
    position: relative;
    z-index: 1;
}

.user-page .page-wrap form> div input[type='password']{
    padding-right: 48px;
}

.user-page .page-wrap form .password-wrap{
    position:relative;
    cursor: pointer;
}
.user-page .page-wrap form .password-wrap:after{
    content:'';
    display: block;
    width: 24px;
    height:24px;
    background-image:url(images/ic_password_view.svg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:100%;
    opacity: 0.7;
    position:absolute;
    right: 16px;
    top: 50%;
    margin-top: -12px;
    z-index: 10;
}

.user-page .page-wrap form> input[type='button']{
    border:none;
    background-color:#3692FF;
    border-radius: 40px;
    height:56px;
    padding: 12px;
    font-size: 16px;
    color:#fff;
    cursor: pointer;
}
.user-page .page-wrap form > input[type='button']:disabled {
	background-color:#9CA3AF;
	cursor:default;
}

.user-page .page-wrap .easy-login-wrap{
	display:flex;
	gap:16px;
	background-color:#E6F2FF;
	border-radius: 8px;
	padding: 16px 24px;
	flex-direction: row;
	align-items: center;
}
.user-page .page-wrap .easy-login-wrap p{
	flex:1;
	font-size: 16px;
	font-weight:500;
	color:#1f2937;
}
.user-page .page-wrap .easy-login-wrap a.btn-sns{
	display:block;
	width: 42px;
	height:42px;
	border-radius:50%;
	font-size: 0.1px;
	text-indent: -999em;
	background-position:center;
	background-repeat:no-repeat;
}
.user-page .page-wrap .easy-login-wrap a.btn-sns-google{
	background-color:#fff;
	background-image:url(images/ic_google.svg);
}
.user-page .page-wrap .easy-login-wrap a.btn-sns-kakao{
	background-color:#F5E14B;
	background-image:url(images/ic_kakao.svg);
}
.user-page .page-wrap .noti-box{
    text-align: center;
}

.user-page .page-wrap .noti-box p{
    font-size: 14px;
    color:#1f1837;
    font-weight:500;
}


.user-page .page-wrap .noti-box p a{
    color:#3692FF;
    text-decoration: underline;;
}

@media (max-width: 1199px){
        
    header .header-wrap{
        padding: 10px 24px;
    }
    
    header .header-wrap .btn-login{
        padding: 14.5px 42px;
        border-radius: 8px;
        font-size: 16px;
        font-weight:600;
        color:#fff;
    }
    
    /* main */
    .hero,
    .bottom-banner{
        padding: 0;
    }
    .hero .con-wrap,
    .bottom-banner .con-wrap{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .hero .con-wrap{
        margin-top: 84px;
        width: 100%;
        gap: 120px;
    }
   
    .hero .con-wrap .txt-wrap{
        gap: 24px;
        flex-basis: 100%;
        text-align: center;
        align-items: center;
    }
    .hero .con-wrap .txt-wrap .big-txt br{
        display:none;
    }
	section{
		backgroun-color:#fcfcfc;
	}
    section > div,
    section > div:nth-child(2){
        margin: 120px auto;
        flex-direction: column;
        align-items: stretch;
        gap: 24px;
        padding: 0 32px;
    }
    section > div .txt-wrap p.cate{
		margin-bottom:16px;
		font-family: 'Pretendard Variable';
		font-weight: 700;
	}
    section > div .txt-wrap p.title{
        margin-bottom: 24px;
        font-size: 24px;
    }
    section > div .txt-wrap p.title br{
        display:none;
    }
    section > div .txt-wrap p.descripsion{
        font-size: 18px;
        line-height: 26px;
    }

    section > div:nth-child(2) .txt-wrap{
        text-align:right;
    }
    .bottom-banner .con-wrap{
        padding-top: 200px;
        gap: 200px;
        padding-left: 0;
        padding-right: 0;
    }
	.bottom-banner .con-wrap .img-wrap{
		width:100%;
	}
    .bottom-banner .con-wrap .txt-wrap{
        margin-top: 112px;
        min-width: 320px;
        text-align:center;
    }

}
@media (max-width: 767px) {
    :root{
        --big-txt-size: 32px;
    }
     header .header-wrap h1{
         overflow:hidden;
     }
    
     header .header-wrap h1 img{
         position:relative;
         height: 51px;
         left: -49px;
     }
     header .header-wrap{
        padding: 9px 16px;
    }
    
    header .header-wrap .btn-login{
        padding: 14.5px 43.3px;
        border-radius: 8px;
        font-size: 16px;
        font-weight:600;
        color:#fff;
    }
    
    /* main */
    .hero,
    .bottom-banner{
        padding: 0;
    }


    .hero .con-wrap{
        margin-top: 48px;
        gap: 120px;
        padding:  0;
    }
	
    .hero .con-wrap .txt-wrap{
        max-width: 260px;
    }
    .hero .con-wrap .txt-wrap .btn-viewmore{
        font-size: 18px;
        padding:  12px;
        max-width: 240px;
    }
    .hero .con-wrap .txt-wrap br{
        display:none;
    }
	.hero .con-wrap .img-wrap{
		width: 448px;
	}
    section > div,
    section > div:nth-child(2){
        margin: 64px auto;
        gap: 24px;
        padding: 0 16px;
    }
   section > div .txt-wrap p.cate{
	   margin-bottom: 8px;
   }
    section > div .txt-wrap p.title{
        margin-bottom: 16px;
        font-size: 24px;
    }
    section > div .txt-wrap p.descripsion{
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 140%;
    }
  
    .bottom-banner .con-wrap{
        padding: 100px 0 0;
        gap: 200px;
    }
    .bottom-banner .con-wrap .txt-wrap{
        margin-top: 0;
    }
    
    .footer-wrap{
        padding: 32px 16px 48px;
        position:relative;
    }
    
    .footer-wrap p.copy{
        position:absolute;
        left:16px;
        rigth:16px;
        bottom: 0;
        
    }

    /* 로그인/회원가입 폼 */

    .login-page,.signin-page{
        margin: 64px 0 128px;
    }

    .user-page .page-wrap{
        padding: 0 16px;
        max-width: 432px;
    }

    .user-page .page-wrap .logo img{
        height: 66px;
    }

    .user-page .page-wrap form> div label{
        font-size: 16px;
    }
    
}