*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

html {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

.wrap{
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 32px;
}

header {
  background-image: linear-gradient(
    180deg,
    #000000 15.1%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 16px;
  font-weight: 700;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:1;
}

.hero{
    position:relative;
}

.bg {
  width: 100%;
  opacity: 0.5;
  position:relative;
}

.hero-heading {
  margin: 0;
  padding: 24px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-heading h1 {
  font-weight: 400;
  font-size: 80px;
  line-height: 95px;
  text-align: center;
  color: #ffffff;
  margin-top: -170px;
}

.hero-heading .small {
  font-size: 48px;
  line-height: 57px;
  text-align: center;
  color: rgba(217, 217, 217, 0.5);
}


.hero-heading .big {
  font-weight: 700;
}

.headline.wrap{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.headline-image {
  width: 504px;
  height: 520px;
}

.headline-heading {
  font-weight: 700;
  font-size: 56px;
  line-height: 67px;
  margin: 32px 0;
}

.headline-description {
  font-size: 24px;
  line-height: 29px;
}

.promotion {
  background-color: #280357;
  margin: 200px 0;
  padding: 80px 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.promotion-content h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin: 24px 0;
}

.promotion-content p {
  font-size: 24px;
  line-height: 29px;
}

.promotion-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 24px;
  border-radius: 16px;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.plans-title,
.benefits-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 32px 0;
}

.plans {
  margin-bottom: 120px;
  display: grid;
  grid-template: 300px / 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.card {
  padding: 56px 96px;
  border: 2px solid #ffffff;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.event {
  border-color: #7f5fff;
  position: relative;
}

.card h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 16px;
}

.card.event h3 {
  color: #7f5fff;
}

.card p {
  line-height: 24px;
}

.card ul {
  text-align: left;
  line-height: 19px;
}

.card.event .event-badge {
  background-color: red;
  font-weight: 700;
  padding: 8px 12px;
  background: #7f5fff;
  color: #000000;
  border-radius: 8px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.benefits{
  display: grid;
  grid-template: 300px / 1fr 1fr;
  gap:24px;
}

.benefits .wide{
  grid-column: 1 / 3;
}

.caution {
  text-align: left;
}

footer {
  margin-top: 160px;
  padding: 64px 180px 80px;
  background-color: #14161f;
}
.footer-content.wrap{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 32px;
}
.footer-content .footer-menu-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 48px;
  grid-column: 1 / span 2;
}
.footer-content a {
  color: #ffffff;
  text-decoration: none;
}

.footer-info {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.4);
}

/* Magazine Start */

section {
  max-width: 1120px;
  width: 100%;
  margin: 80px auto;
  padding: 0 36px;
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 40px 0;
}
.featured{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
}
.featured-thumb {
  border-radius: 24px;
}
.featured-info{
  display:flex;
  flex-direction:column;
  gap: 16px;
  width: -webkit-fill-available;
}

.playlist-wrap{
  display:flex;
  flex-wrap:wrap;
  gap: 32px 24px ;
}

.playlist-wrap .playlist{
  width:calc(25% - 18px);
}
.artist-wrap{
  display:flex;
  gap: 24px
}
.feel-wrap{
  display:flex;
  flex-wrap:wrap;
  gap: 32px;
}

.feel-wrap .station{
  width: calc(33% - 21px);
}
.featured-tag {
  width: fit-content;
  background-color: #18181b;
  border-radius: 16px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #565662;
}

.featured-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #d9d9d9;
  margin: 0;
}

.featured-description {
  margin: 0;
  color: #868686;
}

.playlist-thumb {
  width: 100%;
  border-radius: 16px;
}

.playlist-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 16px 0 8px;
}

.playlist-artist {
  color: #868686;
  margin: 0;
}

.artist {
  width: 120px;
  text-align: center;
  border-radius: 50%;
}

.artist-profile {
  width: 100%;
  border-radius: 50%;
}

.artist-name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 24px 0 0;
}

.station {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 16px;
}

.charts {
  list-style: none;
  padding: 0;
  margin: 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 24px;
}

.charts-header {
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.charts-title {
  margin: 0;
}

.charts-see-all {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #d9d9d9;
}

.chart {
  gap: 24px;
  width: calc(50% - 12px);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chart-number {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #1a1a1a;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chart-change {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
}

.chart-change.up {
  color: #d93045;
}
.chart-rank{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 8px;
}
.chart-cover {
  width: 160px;
  height: 160px;
  border-radius: 16px;
}

.chart-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.chart-artist {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #868686;
}


/* play list start */

.wrap {
  margin: 0 auto;
  padding: 32px;
  max-width: 1080px;
  width: 100%;
}

.info {
  margin-bottom: 40px;
  padding: 40px;
  border-bottom: 1px solid #595864;
}

.cover {
  width: 252px;
  height: 252px;
  border-radius: 24px;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
}

.cover-play-icon {
  display: none;
  width: 72px;
  height: 72px;
}

.cover:hover .cover-play-icon {
  display: block;
}

.playlist-title {
  margin: 40px 0 16px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.hot-badge {
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #2a2a31;
  color: #8e8ea0;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.artist {
  color: #7d7c8a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  gap: 8px;
}

.artist-profile {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.description {
  margin: 16px 0 32px;
  color: #7d7c8a;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.play-button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #4b1bb1;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.track {
  padding: 24px 32px;
}

.track.active {
  border-radius: 16px;
  background-color: #19191f;
}

.track-title {
}

.track-icon {
  width: 16px;
  height: 16px;
}
